/* FONT */
html{
    font-family: "Montserrat", system-ui;
}

/* DEFAULT */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --sidebar: #000000;
    --main: #141922;
    --player: #282828;
}

/* DEBUG */
.debug{
    border: 2px solid purple;
    padding: 10px;
}

.debug-red{
    border: 2px solid red;
    padding: 10px;
}

.debug-blu{
    border: 2px solid blue;
    padding: 10px;
}

/* LAYOUT */
.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main{
    flex-grow: 10;
    display: flex;
}

.content{
    flex-grow: 1;
    order: 2;
    background-color: var(--main);
}

.sidebar{
    width: 228px;
    order: 1;
    background-color: var(--sidebar);
}

.play-bar{
    height: 92px;
    background-color: var(--player);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brano{
    width: 240px;
}

.play{
    width: 550px;
}

.vol{
    width: 240px;
}

/* MEDIA QUERY */

@media (max-width: 878px){

    .play{
        width: 350px;
    }

}

@media (max-width: 639px){
    
    .play{
        width: 240px;
    }

}

@media (max-width: 552px){

    .sidebar{
        width: 50px;
    } 
    
    .play{
        width: 210px;
    }
}